/* article-item.component.css */
.on-sale {
  background-color: #572364; /* Color de fondo para resaltar cuando esté en venta */
}

.not-in-stock {
  background-color: #f0f0f0; /* Color de fondo para indicar que no está en stock */
}
