

<!-- article-item.component.html -->
<div [ngClass]="{'on-sale': article.isOnSale, 'not-in-stock': !article.isOnSale}">
    <img [src]="article.imageUrl | defaultImage" alt="Article Image">
    <h3>{{ article.name }}</h3>
    <p>Precio: {{ article.price | currency:'EUR':'symbol':'1.2-2' }}</p>
    <p *ngIf="article.isOnSale">Quantity in Cart: {{ article.quantityInCart }}</p>
    <!-- Botones de incremento y decremento aquí -->
    <button *ngIf="article.isOnSale" (click)="decrementQuantity()" [disabled]="article.quantityInCart === 0">-</button>
    <button *ngIf="article.isOnSale" (click)="incrementQuantity()">+</button>
</div>
 